.select-add-pin-wrapper {
  display: flex;
  gap: 5px;
}

.delete-icon {
  position: absolute;
}

.add-pin-to-trail-popover-container {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px;
  justify-content: start;
  align-items: center;
  grid-template-areas: 
    "addPinsButton createTrailButton";
}

.add-pins-to-trail-button {
  grid-area: addPinsButton;
}

.create-trail-button-wrapper {
  grid-area: createTrailButton;
}

.trail-card-wrapper {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; 
 
  gap: 1em;
}

.trail-card-container {
  color: white;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid white;
  background-color: green;
  border-radius: 30px;
  cursor: pointer;
}

.trail-card-container:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.trail-card-title {
  font-size: 17px;
}

.trail-card-explainer {
  font-size: 15px;
  font-weight: lighter;
}