@import '../../../global/globalCssVariables';
[draggable='true'] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

ul.moveable {
  list-style: none;
  margin: 0px;

  li {
    list-style-image: none;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
    color: #666;
    cursor: move;

    &:hover {
      background-color: #eee;
    }
  }
}

.select-add-pin-wrapper {
  display: flex;
  gap: 5px;
}

.pins-list-wrapper {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  border: '1px solid grey';
  border-radius: '5px';
  padding: '10px 10px';
}

.delete-icon {
  position: absolute;
}

.add-pin-to-trail-popover-container {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 10px;
  justify-content: start;
  align-items: center;
  grid-template-areas: 'addPinsButton createTrailButton errorMessage';
  height: fit-content;
}

.add-pins-to-trail-button {
  grid-area: addPinsButton;
}

.create-trail-button-wrapper {
  grid-area: createTrailButton;
}

.modal-error-create-trail {
  color: white;
  font-size: 0.8rem;
  background-color: $error-color;
  padding: 5px 10px;
  margin: 0px 20px;
  position: unset;
  left: unset;
  font-weight: 500;
  grid-area: errorMessage;
}

.add-a-route-link {
  color: rgb(0, 125, 0);
  cursor: pointer;
}

.trail-card-wrapper {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  gap: 1em;
}

.trail-card-container {
  color: black;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid white;
  background-color: rgb(121, 185, 121);
  border-radius: 30px;
  cursor: pointer;
  width: 300px;
}

.trail-card-container:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.trail-view-pin-list-item-wrapper {
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 5px;
}

.trail-view-pin-list-item-wrapper:hover {
  transition-duration: 380ms;
  background: rgb(16, 16, 16);
  color: white;
}

.trail-card-title {
  font-size: 17px;
}

.trail-card-explainer {
  font-size: 15px;
  font-weight: lighter;
}

.specific-trail-title {
  font-size: 22px;
  font-weight: bold;
}

.specific-trail-explainer {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 10px;
}
