@import '../../../global/globalCssVariables';

.nodeHeader {
  display: flex;
  gap: 10px;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  padding-left: 20px;
  justify-content: left;
  align-items: center;
  border-bottom: $standard-border;
  overflow: hidden;
  width: 100%;
  z-index: 3;
  overflow-x: scroll;

  .nodeHeader-title {
    font-weight: 600;
  }

  .nodeHeader-buttonBar {
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    width: fit-content;
    position: relative;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;

    .select {
      width: 80px;
      margin-top: -10px;
      cursor: pointer;
    }
  }
}
.nodeHeader-navigating {
  background-color: 'green';
}

.navigating-from {
  width: fit-content;
  font-size: 0.6em;
  margin-left: auto;
}
