@import '../../global/globalCssVariables';

.node {
  width: 100%;
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 4fr fit-content(100%) 1fr;

  .resizable-node-properties {
    position: relative;
    height: 100%;
    z-index: 4;
    background-color: $primary-background-color;
  }

  .nodeView {
    height: calc(100vh - 50px);
    position: relative;

    .nodeView-json {
      background-color: $selected-color;
      overflow: hidden;
      font-size: 12px;
      padding: 20px;
      border-radius: 5px;
    }

    .nodeView-scrollable {
      position: relative;
      height: 100%;
      overflow-y: scroll;

      .nodeView-breadcrumb {
        display: flex;
        padding: 10px;
        justify-content: left;
        align-items: center;
        border-bottom: $standard-border;
        padding-left: 20px;
      }

      .nodeView-content {
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 100px;
        width: 95%;
      }

      .mapView-content {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
