.map-content-container {
  grid-area: map-content-container;
}

.map-view-sidebar {
  grid-area: map-view-sidebar;
}

.comment-content-container {
  grid-area: comment-content-container;
}

.map-content-container {
  width: max-content;
  height: max-content;
}
