.pin-menu-container {
  margin: 0px 5px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.pin-menu-item-wrapper {
  padding: 5px 5px;
  border-radius: 5px;
}

.pin-menu-item-wrapper:hover {
  background-color: lightblue;
  cursor: pointer;
}

.pin-explainer {
  margin-left: 40px;
  font-weight: 200;
}

.pin-explainer.pin-selected {
  margin-left: 20px;
  margin-bottom: 10px;
}

.pin-title {
  font-size: 1.3em;
  font-weight: bold;
}

.your-pins {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.pin-documents {
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 15px;
}

.pin-documents-item-wrapper {
  margin-bottom: 10px;
}

.create-node-button-wrapper {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}

.add-to-trail-button-wrapper {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}

.pin-menu-delete-pin-wrapper {
  display: flex;
  justify-content: center;
}
