@import '../../../../global/globalCssVariables';

.mapImageWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  // .imageResizeMenu {
  //   display: flex;
  //   gap: 10px;
  // }

    .map-image-content-wrapper .selection {
      width: unset !important;
      height: unset !important;
      z-index: 1;
      position: absolute;
    }

  }

  .pins-on-map-wrapper {
    position: absolute;
    z-index: 1;
    transform: unset;
  }

