@import '../../../../global/globalCssVariables';

.ProseMirror {
  width: 100%;
  height: fit-content;
  padding: 20px;
  padding-bottom: 100px;
  white-space: pre-wrap;
  border: dotted;
  border-width: 1px;

  a {
    color: rgb(0, 125, 0) !important;
    text-decoration: underline !important;
    cursor: pointer;
  }

  // TODO Make the editor and menu look nice!
}

input {
  width: 100%;
}

#textMenu {
  display: flex;
  justify-content: left;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.textEditorButton {
  width: max-content;
  height: 30px;
  font-size: 15px;
  font-family: $header-font;
  padding: 10px 15px;
  border-radius: 5px;
  gap: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin: 3px;
  background-color: $secondary-background-color;
}

.active-textEditorButton {
  width: max-content;
  height: 30px;
  font-size: 15px;
  user-select: none;
  font-family: $header-font;
  padding: 10px 15px;
  border-radius: 5px;
  gap: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin: 3px;
  background-color: #aacfff;
}

li {
  padding: 0 1rem;
  list-style-position: inside;
}

.menu-divider {
  background-color: $secondary-background-color;
  width: 3px;
  height: 40px;
}

code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

// Styling for lowlight code block in text editor
.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.hljs-title,
.hljs-section {
  color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
