.navigation-window-hidden {
  background-color: green;
  color: white;
  padding: 10px 8px;
  border: 2px solid white;
  border-radius: 5px;
  z-index: 99;
  top: 0;
  right: 0;
  width: fit-content;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-window {
  border: 2px solid white;
  background-color: rgb(217, 239, 219);
  color: black;
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px;
  border-radius: 10px;
  z-index: 99;

  .navigation-window-options {
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
  }

  .navigation-window-header {
    background-color: white;
    color: black;
    padding: 3px 10px;
    margin-bottom: 5px;

    .nav-wind-route-title {
      font-size: 1.2em;
      font-weight: bold;
    }

    .nav-wind-route-description {
      font-weight: lighter;
      font-size: 0.9em;
    }
  }

  .navigation-window-subheader {
    display: flex;
    align-items: center;
    padding: 5px 0px;
    justify-content: space-between;
    margin-bottom: 5px;

    .nav-wind-pins-header {
      font-weight: bold;
    }

    .nav-wind-navigate-button {
      float: right;
      padding: 5px 5px;
      background-color: white;
      color: black;
      cursor: pointer;
      border-radius: 5px 5px;
      font-size: 0.9em;
    }
  }

  .navigation-window-body {
    margin-top: 5px;

    .nav-wind-pin-wrapper {
      padding: 3px 0px;
      margin-bottom: 5px;
    }

    .nav-wind-pin-wrapper:hover {
      background-color: white;
      color: black;
      transition-duration: 500ms;
      cursor: pointer;
    }

    .nav-pin-wrapper-selected {
      background-color: white;
      color: black;
    }
  }
}
