@import '../../../global/globalCssVariables';

.node-breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto';

  .breadcrumb-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    transition: 0.2s;
    padding: 3px 10px;
    border-radius: 4px;

    &.selected {
      background-color: rgb(121, 185, 121);
      cursor: default;
    }

    &:hover {
      background-color: rgb(121, 185, 121);
    }
  }
}

.item-icon {
  margin-right: 5px;
}
